.searchbox {
   width: 90%;
   max-width: 800px;
   margin: 0 auto;
   color: var(--primary-color);
   background-color: var(--white-color);
   border-radius: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem 1rem;
   box-shadow: var(--box-shadow);
   .row {
      width: 100%;
      .col-3 {
         padding: 0 1rem;
      }
      label {
         padding-left: 1rem;
         margin-bottom: 0.5rem;
         display: block;
      }

      .searchbox__input {
         width: 100%;
         padding: 1rem;
         border-radius: 2rem;
         outline: none;
         border: 1px solid var(--primary-color);
         box-shadow: var(--box-shadow);
      }

      .filter {
         width: 100%;
         padding: 1rem;
         border-radius: 2rem;
         box-shadow: var(--box-shadow);
      }
   }
}

@media only screen and (min-width: 567px) {
   .searchbox {
      width: 100%;
   }
}
